name: Build & Publish Docker Images

on:
  push:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PAT }}


      ##################################################################
      # IMAGE 1 — pretix2nextcloud-kv-stuttgart-jungschartag
      ##################################################################

      - name: Build base image – kv-stuttgart-jungschartag
        run: |
          IMAGE=ghcr.io/tben2000/pretix2nextcloud-kv-stuttgart-jungschartag
          DOCKERFILE=kv-stuttgart_jungschartag/Dockerfile

          docker build . \
            -f $DOCKERFILE \
            --tag $IMAGE:base

      - name: Push base image – kv-stuttgart-jungschartag
        id: push_base_jungschartag
        run: |
          IMAGE=ghcr.io/tben2000/pretix2nextcloud-kv-stuttgart-jungschartag

          docker push $IMAGE:base | tee output.txt
          DIGEST=$(grep -o 'sha256:[a-f0-9]\+' output.txt | head -n 1)

          echo "digest=$DIGEST" >> $GITHUB_OUTPUT

      # Build the final image with digest injected as env
      - name: Build final image with digest – kv-stuttgart-jungschartag
        run: |
          IMAGE=ghcr.io/tben2000/pretix2nextcloud-kv-stuttgart-jungschartag
          DIGEST="${{ steps.push_base_jungschartag.outputs.digest }}"

          echo "FROM $IMAGE:base" > Dockerfile.inject
          echo "ENV DOCKER_IMAGE=$DIGEST" >> Dockerfile.inject

          docker build . \
            -f Dockerfile.inject \
            --tag $IMAGE:latest

      - name: Push final image – kv-stuttgart-jungschartag
        run: |
          IMAGE=ghcr.io/tben2000/pretix2nextcloud-kv-stuttgart-jungschartag
          docker push $IMAGE:latest
