name: Docker Image CI for GHCR

on:
  push

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build and push the image
        run: |
          echo ${{ secrets.GH_PAT }} | docker login --username TBen2000 --password-stdin ghcr.io
          docker build kv-stuttgart_jungschartag --tag ghcr.io/tben2000/pretix2nextcloud-kv-stuttgart-jungschartag:latest
          docker push ghcr.io/tben2000/pretix2nextcloud-kv-stuttgart-jungschartag:latest
          